    body,html {
        margin: 0;
        padding: 0;
        }

    .page-name {
        color: rgb(9, 10, 11);
        text-align: left;
        background: none;
        opacity: 0.9;
        border: none;
        font-size: 30px;
        cursor: pointer;
        text-decoration: none;
        position: static;
        margin-left: 10px;
        transition-duration: 0.4s;
        background-color: rgb(70, 125, 98);
        border-radius: 20px;
        padding: 6px;
   }

   .Navigation-bar {
        background-color: rgba(36, 40, 50, 1); /*thanks to uiverse.io for inspiration to this bg */
        background-image: linear-gradient(
    139deg,
    rgba(36, 40, 50, 1) 0%,
    rgba(36, 40, 50, 1) 0%,
    rgba(37, 28, 40, 1) 100%
  );
        padding: 5px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 55px;
        flex-wrap: wrap;
    }
    .page-name:hover {
        box-shadow: 0 7px 16px 0 rgba(186, 112, 112, 0.6);
        transform: translateY(-4px);
    }  

        @media  (max-width: 800px) {
        .Navigation-bar {
            flex-direction: row;
            align-items: flex-start;
            height: auto;
        }
    }
