    body,html {
        margin: 0;
        padding: 0;
        }

    .page-name {
        color: rgb(130, 191, 213);
        text-align: left;
        background: none;
        opacity: 0.9;
        border: none;
        font-size: 30px;
        cursor: pointer;
        text-decoration: none;
        position: static;
        margin-left: 10px;
        transition-duration: 0.4s;
   }

   .Navigation-bar {
        background-color: rgb(33, 38, 60);
        padding: 5px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 55px;
        flex-wrap: wrap;
    }
    .page-name:hover {
        box-shadow: 0 7px 16px 0 rgba(186, 112, 112, 0.6);
        transform: translateY(-4px);
    }  

        @media  (max-width: 800px) {
        .Navigation-bar {
            flex-direction: row;
            align-items: flex-start;
            height: auto;
        }
        .page-name {
            size: 5px ;
        }
    }
